extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="")
            .col-md-7
                h1 #{page}
                blockquote orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec libero nisi. Nullam id hendrerit augue, vehicula malesuada ligula. Sed vitae venenatis sapien
                p Fusce ipsum nisl, gravida sed eleifend at, rutrum vitae quam. Integer metus nisl, egestas in faucibus eget, venenatis at tortor. Duis lectus nulla, pellentesque id justo non, suscipit efficitur velit. Morbi finibus imperdiet sapien, in placerat lectus faucibus eget.
                p Pellentesque pharetra mi ligula, et aliquet tellus consectetur ac. Donec aliquet, nisl ac facilisis fringilla, sapien nibh sollicitudin justo, quis tempor tellus leo quis dolor
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Duis lectus nulla, pellentesque id justo non, suscipit efficitur velit. Morbi finibus imperdiet sapien, in placerat lectus faucibus eget.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Duis lectus nulla, pellentesque id justo non, suscipit efficitur velit. Morbi finibus imperdiet sapien, in placerat lectus faucibus eget. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Duis lectus nulla, pellentesque id justo non, suscipit efficitur velit. Morbi finibus imperdiet sapien, in placerat lectus faucibus eget. 
